.container {
  margin-left: 100px;
}

.box {
  width: 214px;
  height: 40px;
  border: solid grey;
  background: #544f4c;
}

button {
  margin-bottom: 20px;
  width: 40px;
  background-color: #f3cc0c;
}


section {
  margin-left: 20px;
  display: inline;
}

.buttons {
  padding-top: 25px;
  width: 220px;
  height: 200px;
  background-color: #0cccf3;
}
